.JSM-body {
    background-color: @lightBackground;
    .JSM-list {
        .list-group-root {
            padding: 0;
            overflow: hidden;
            .list-group-item {
                border-radius: 0;
                border-width: 1px 0 0 0;
                padding-left: 10%;
                position: relative;
            }
            .list-group {
                margin-bottom: 0px;
            }
            .JSM-item-header {
                .drop-icon {
                    float: right;
                    margin-top: 2px;
                }
            }
        }
    }
}