/* Specifies the root path */
.JS_Multiselect {
  width: 25vw;
  display: block;
  background-color: #0b0c10;
  margin-top: 20px;
  padding: 10px;
  padding-top: 10px;
  /* Apply to all */
}
.JS_Multiselect .JSM-body {
  max-height: 30vh;
  padding-bottom: 0;
  overflow: auto;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.JS_Multiselect .JSM-body * {
  font-weight: bold;
}
.JS_Multiselect .JSM-body::-webkit-scrollbar {
  width: 8px;
}
.JS_Multiselect .JSM-body::-webkit-scrollbar-track {
  background: #c5c6c7;
}
.JS_Multiselect .JSM-body::-webkit-scrollbar-thumb {
  background: #68b9b6;
}
.JS_Multiselect .JSM-body::-webkit-scrollbar-thumb:hover {
  background: #66fcf1;
}
.JS_Multiselect .list-group-root > .list-group {
  margin-bottom: 0 !important;
  overflow: hidden;
  height: 100%;
  background-color: #1f2833;
  color: #45a29e;
}
.JS_Multiselect .list-group-root > .list-group .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
  border-color: #66fcf1;
  padding-left: 10%;
  position: relative;
  background-color: inherit;
  color: inherit;
}
.JS_Multiselect .list-group-root > .list-group .list-group-item .JSM-checkbox {
  -webkit-appearance: none;
  background-color: #d2f080;
  border: 2px solid #160308;
  box-shadow: 0 3px 3px grey, inset 0px -15px 10px -12px rgba(235, 228, 228, 0.849);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.JS_Multiselect .list-group-root > .list-group .list-group-item .JSM-checkbox:checked:after {
  content: '\2714';
  font-size: 13px;
  position: relative;
  top: 0px;
  left: 1px;
  color: #01070c;
}
.JS_Multiselect .list-group-root > .list-group .list-group,
.JS_Multiselect .list-group-root > .list-group {
  position: relative;
  margin-bottom: 0;
  color: #45a29e;
  border-radius: 0;
}
.JS_Multiselect .list-group-root > .list-group .JSM-item-header {
  position: relative;
  padding-right: calc(8% + 15px);
}
.JS_Multiselect .list-group-root > .list-group .JSM-item-header .drop-icon {
  font-family: "FontAwesome";
  width: 15px;
  position: absolute;
  right: 0;
  margin-bottom: 2px;
  margin-right: 5%;
}
.JS_Multiselect .list-group-root > .list-group .JSM-item-header .drop-icon:after {
  content: "\f078";
}
.JS_Multiselect .list-group-root > .list-group .JSM-item-header.collapsed .drop-icon:after {
  content: "\f054" !important;
}
.JS_Multiselect .JSM-head {
  /*
     * Search CSS
     */
}
.JS_Multiselect .hidden {
  display: none;
}
.JS_Multiselect *.textColorLighter {
  color: #45a29e !important;
}
.JS_Multiselect *.textColorDarker {
  color: #275a58 !important;
}
