
/* Specifies the root path */

.JS_Multiselect {
    @import "./themes/bold.less";
    @import "./variables.less";
    @import "./utility.less";
    @import "./shared/body/body.less";
    @import "./shared/body/list.less";
    @import "./shared/footer.less";
    @import "./shared/header.less";

    &.singleColumn {

    }

    &.multiColumn {
        @import "./multiColumn/list.less";
    }

    &.popoverSelect {

    }


    width: 100%;
    display: block;
    background-color:@darkBackground;
    margin-top: 20px;
    padding: 10px;
    padding-top: 10px;
    
    /* Apply to all */
    *.textColorLighter {
        color: @textColorBright !important;
    }
    *.textColorDarker {
        color: @textColorDark !important;
    }

}


