
/* Specifies the root path */

.JS_Multiselect {
    @import "./themes/bold.less";
    @import "./variables.less";
    @import "./utility.less";
    @import "./shared/body/body.less";
    @import "./shared/body/list.less";
    @import "./shared/footer.less";
    @import "./shared/header.less";

    &.singleColumn {
        @import "./singleColumn/body/body.less";
        @import "./singleColumn/body/list.less";
        @import "./singleColumn/footer.less";
        @import "./singleColumn/header.less";
    }

    &.multiColumn {
        @import "./multiColumn/body/body.less";
        @import "./multiColumn/body/list.less";
        @import "./multiColumn/footer.less";
        @import "./multiColumn/header.less";
    }

    &.popoverSelect {
        @import "./popoverSelect/body/body.less";
        @import "./popoverSelect/body/list.less";
        @import "./popoverSelect/footer.less";
        @import "./popoverSelect/header.less";
    }


    width: 25vw;
    display: block;
    background-color:@darkBackground;
    margin-top: 20px;
    padding: 10px;
    padding-top: 10px;
    
    /* Apply to all */
    *.textColorLighter {
        color: @textColorBright !important;
    }
    *.textColorDarker {
        color: @textColorDark !important;
    }

}


