.list-group-root > .list-group {
    margin-bottom: 0 !important;
    overflow: hidden;
    height: 100%;
    background-color: @lightBackground;
    color:@textColor;

    .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        border-color: @highlight;
        padding-left: 10%;
        position: relative;
        background-color: inherit;
        color: inherit;
        // Custom Checkbox 
        .JSM-checkbox {
            -webkit-appearance: none; // Default appearance is set to none
            background-color: rgb(210, 240, 128);
	        border: 2px solid #160308;
	        box-shadow: 0 3px 3px grey, inset 0px -15px 10px -12px rgba(235, 228, 228, 0.849);
	        padding: 7px;
	        border-radius: 3px;
	        display: inline-block;
	        position: relative;
        }
        // On hover styling 
        .JSM-checkbox:hover {
        background-color: rgb(238, 161, 147);
        }
        // Checkmark Styling 
        .JSM-checkbox:checked:after {
            content: '\2714';
            font-size: 17px;
            position: relative;
            top: 0px;
            left: 1px;
            color: #01070c;
        }
    }
    .list-group, & {
        position: relative;
        margin-bottom: 0;
        color:@textColor;
        border-radius: 0;
    }
    .JSM-item-header {
        position: relative;
        @dropIconWidth: 15px;
        padding-right: calc(8% +  @dropIconWidth);
        .drop-icon {
            font-family: "FontAwesome";
            width:  @dropIconWidth;
            position: absolute;
            right: 0;
            margin-bottom: 2px;
            margin-right: 5%;
        }

        
        // changes the chevron glyphicon
        .drop-icon:after {
            content: "\f078";
        }
        &.collapsed .drop-icon:after {
            content: "\f054" !important;
        }
    }
}
